@import "../fonts/yekan/yekan.scss";
@import "../styles/colors.scss";

* {
    font-family: "Yekan";
    user-select: none;
}

a {
    text-decoration: none;
}

p, a, button, span {
    font-size: 0.75rem;
}

.w-100 {
    width: 100%;
}

.max-width-310px {
    max-width: 310px;
    width: 310px;
}

.margin-y10px {
    margin: 10px 0;
}

.margin-top-50px {
    margin-top: 50px;
}

.text-green {
    color: $green--0b;
}

.text-white {
    color: $white--ff;
}

.icon {
    width: 54px;
    height: 54px;
}

.text-red {
    color: $red--ff6;
}
