@import "../fonts/yekan/yekan.scss";
@import "../styles/colors.scss";

* {
    font-family: "Yekan";
    user-select: none;
}

.w-100 {
    width: 100%;
}

.max-width-310px {
    max-width: 310px;
    width: 310px;
}

.margin-y10px {
    margin: 10px 0;
}

.text-green {
    color: $green--0b;
}

.text-white {
    color: $white--ff;
}

.text-red {
    color: $red--ff6;
}
